{% extends 'base.html' %}

{% block title %}{{ user.first_name }}{{ user.last_name }}{% endblock %}

{% block content %}

<h2>Feedback</h2>
<ul>
    {% for feedback in user.feedback %}
    <li>
        {{ feedback.title }}
        {{ feedback.content }}
    </li>
    <form>
        {{ form.hidden_tag() }}
        <button formmethod="GET" formaction="/feedback/{{ feedback.id }}/update">
            Edit
        </button>
        <button formmethod="POST" formaction="/feedback/{{ feedback.id }}/delete">
            Delete
        </button>
    </form>
    {% endfor %}
</ul>

<p>
    <a href="/users/{{ user.username }}/feedback/add">Add Feedback</a>
</p>

<form>
    <button formaction="/users/{{ user.username }}/delete" formmethod="POST">
        Delete User
    </button>
</form>


{% endblock %}